<?xml version='1.0' encoding='utf-8'?>
<widget id="app.frankbenus.mfa" version="0.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>OML authenticator</name>
    <description>
        This is a custom app that has been created by Frank Benus (Okta inc.) as part of a POC.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Okta inc.
    </author>
    <content src="index.html" />
    <plugin name="phonegap-plugin-barcodescanner" source="npm" />
    <plugin name="cordova-plugin-dialogs" source="npm" />
    <plugin name="cordova-plugin-inappbrowser" source="npm" />
    <plugin name="cordova-plugin-camera" source="npm" />
    <plugin name="cordova.plugins.diagnostic" source="npm" />
    <feature name="Camera">
        <param name="ios-package" value="CDVCamera" />
    </feature>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <plugin name="cordova-universal-links-plugin" source="npm" />
    <platform name="ios">
        <icon src="logo.png" />
    </platform>
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
</widget>
